<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="LOG_DIR" value="logs/revolut-banking.log" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/revolut-banking.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<!-- each archived file, size max 1MB -->
			<maxFileSize>1MB</maxFileSize>
			<!-- total size of all archive files, if total size > 2GB, it will delete 
				old archived file -->
			<totalSizeCap>2GB</totalSizeCap>
			<!-- 7 days to keep -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>


	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ROLLING" />
	</root>

</configuration>